/* I am Css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @font-face {
        font-family: kalam;
        src: url(Kalam-Regular.ttf);
    }
     @font-face {
        font-family: merriweather;
        src: url(Merriweather-VariableFont_opsz,wdth,wght.ttf);
    }
}

.header{
    width: 100%;
    height: 30vh;
    padding: 5% 5%;
    background-color: #d1ecff;
}


nav{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 0;
}
h1{
    margin-right: 40%;
    font-family: kalam;
    font-weight: 1000;
    font-size: 35pt;
}

a{
    text-decoration: none;
    color: black;
    align-items: center;
    margin: 0 70%;
    font-family: merriweather;
    font-weight: 700;
    font-size: 14pt;
}

.banner{
    background-color: #d1ecff;
    width: 100%;
    height: 21vh;
    padding: 0 5%;
    text-align: center;
    font-family: merriweather;
    h2{
    position: relative;
    font-size: 58pt;
    font-family: kalam;
    }
    p{
        font-size: 8pt;
        line-height: 20pt;
    }
}


.Evolution{
    background-color: #d1ecff;
    padding-left: 8%;
    padding-top: 10%;
    position: relative;
}

.pomelo{
    img{
        position: absolute;
        top: 4%;
        left: 5%
    }

    h2{
        position: absolute;
        font-family: kalam;
        font-size: 30pt;
        top: 14%;
    }
}

.mandarin{
    img{
        position: absolute;
        top: 4%;
        left: 24.5%;
    }

    h2{
        position: absolute;
        font-family: kalam;
        font-size: 30pt;
        top: 14%;
        left: 26.25%;
    }
}

.footer{
    background-color: #d1ecff;
    font-family: merriweather;
    padding-top: 10%;
    padding-left: -100%;
}