/* I am Css */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family: kalam;
    src: url(kalam-v18-latin-700.woff2);
}

@font-face {
    font-family: merriweather;
    src: url(merriweather-v33-latin-regular.woff2);
}

body{
    background-color: #ffffff;
    background-image: linear-gradient(90deg, #c6e1ff5e 27px, transparent 27px), linear-gradient(#c6e1ff5e 27px, transparent 27px);
    background-position: 0 0;
    background-size: 51px 51px;
}


.header {
    width: 100vw;
    height: 30vh;
    padding: 5% 5%;
    box-sizing: border-box;
}

#top{
    position: absolute;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 0;
    background-color: transparent;
}

h1 {
    margin-right: 40%;
    font-family: kalam;
    font-size: 4vw;
}

a {
    text-decoration: none;
    color: black;
    align-items: center;
    margin: 0 70%;
    font-family: merriweather;
    font-weight: 700;
    font-size: 1.25vw;
    justify-content: space-between;
}

.banner {
    width: 100%;
    height: 100%;
    padding: 3% 0%;
    text-align: center;
    font-family: merriweather;

    h2 {
        position: relative;
        font-size: 58pt;
        font-family: kalam;
    }

    p {
        font-size: 8pt;
        line-height: 20pt;
        background-color: transparent;
    }
}


.Evolution {
    padding-top: 10%;
    margin-bottom: 20%;
    margin-right: 5%;
    position: relative;
}

.arrows{
    padding-left: 6%;
}


.pomelo {
    img {
        position: absolute;
        top: 4%;
        left: 4%
    }

    h2 {
        position: absolute;
        font-family: kalam;
        font-size: 3vw;
        top: 14%;
        left: 6%;
        background-color: transparent;
    }
}

.mandarin {
    img {
        position: absolute;
        top: 3.5%;
        left: 22.5%;
        background-color: transparent;
    }

    h2 {
        position: absolute;
        font-family: kalam;
        font-size: 3vw;
        top: 14%;
        left: 25%;
    }
}

.citron {
    img {
        position: absolute;
        top: 5%;
        left: 43%;
        background-color: transparent;
        rotate: 5deg;
    }

    h2 {
        position: absolute;
        font-family: kalam;
        font-size: 3vw;
        top: 14%;
        left: 47.5%;
    }
}

.papeda {
    img {
        position: absolute;
        top: 4.5%;
        left: 63%;
        background-color: transparent;
        rotate: 5deg;
    }

    h2 {
        position: absolute;
        font-family: kalam;
        font-size: 3vw;
        top: 14%;
        left: 68%;
    }
}

.kumquat {
    img {
        position: absolute;
        top: 4.5%;
        left: 84%;
        background-color: transparent;
    }

    h2 {
        position: absolute;
        font-family: kalam;
        font-size: 3vw;
        top: 14%;
        left: 86%;
    }
}

.grapefruit {
    img {
        position: absolute;
        top: 30.5%;
        left: 7%;
        background-color: transparent;
    }

    h2 {
        position: absolute;
        font-family: kalam;
        font-size: 3vw;
        top: 39.5%;
        left: 8%;
    }
}

.meyerlemon {
    img {
        position: absolute;
        top: 14.25%;
        left: 31.9%;
        background-color: transparent;
        rotate: 17deg;
    }

    h2 {
        position: absolute;
        font-family: kalam;
        font-size: 3vw;
        top: 26.5%;
        left: 37.75%;
        line-height: 2.5vw;
        text-align: center;
    }
}

.sweetorange {
    img {
        position: absolute;
        top: 30%;
        left: 28%;
        background-color: transparent;
        rotate: -7deg;
    }

    h2 {
        position: absolute;
        font-family: kalam;
        font-size: 3vw;
        top: 38.75%;
        left: 31%;
        line-height: 2.5vw;
        text-align: center;
    }
}

.buddhashand {
    img {
        position: absolute;
        top: 29.5%;
        left: 51.75%;
        background-color: transparent;
    }

    h2 {
        position: absolute;
        font-family: kalam;
        font-size: 3vw;
        top: 38.75%;
        left: 56%;
        line-height: 2.5vw;
        text-align: center;
    }
}

.tangelo {
    img {
        position: absolute;
        top: 51%;
        left: 15.75%;
        background-color: transparent;
    }

    h2 {
        position: absolute;
        font-family: kalam;
        font-size: 3vw;
        top: 63.5%;
        left: 22.25%;
    }
}

.bitterorange {
    img {
        position: absolute;
        top: 79%;
        left: 1%;
        background-color: transparent;
    }

    h2 {
        position: absolute;
        font-family: kalam;
        font-size: 3vw;
        top: 90%;
        left: 4%;
        line-height: 2.5vw;
        text-align: center;
    }
}

.lemon {
    img {
        position: absolute;
        top: 81%;
        left: 37%;
        background-color: transparent;
        rotate: 8deg;
    }

    h2 {
        position: absolute;
        font-family: kalam;
        font-size: 3vw;
        top: 90.30%;
        left: 45.80%;
    }
}

.keylime {
    img {
        position: absolute;
        top: 81%;
        left: 63%;
        background-color: transparent;
        rotate: 10deg;
    }

    h2 {
        position: absolute;
        font-family: kalam;
        font-size: 3vw;
        top: 90.6%;
        left: 66.5%;
    }
}

.limequat {
    img {
        position: absolute;
        top: 82%;
        left: 85.5%;
        background-color: transparent;
    }

    h2 {
        position: absolute;
        font-family: kalam;
        font-size: 3vw;
        top: 90.8%;
        left: 86%;
    }
}

.lime {
    img {
        position: absolute;
        top: 98.5%;
        left: 48.5%;
        background-color: transparent;
        rotate: 5deg;
    }

    h2 {
        position: absolute;
        font-family: kalam;
        font-size: 3vw;
        top: 107.5%;
        left: 57%;
    }
}

.footer{
    font-family: merriweather;
    margin-bottom: 2%;
    width: 100%;
    padding: 20px;
    padding-right: 5%;
    display: flex;
    justify-content: right;
    gap: 40px;
    margin-top: 50px;
    background-color: #ffffff86;
    border-radius: 10px;
    margin-right: 5%;
}

.footer a {
    margin: 0;
    font-size: 14pt;
    text-decoration: underline;
    color: black;
    border-radius: 5px;
    padding: 2px;
}


#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}


.modal-content {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    max-width: 32vw;
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
    top: 10%;
    left: 34%;
}

#caption {
    margin: auto;
    position: relative;
    text-align: center;
    padding: 0px 0px;
    height: 150px;
    font-size: 60px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* Background */
.modal {
    display: none;
    position: fixed;
    justify-content: center;  
    align-items: center;  
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* More Modal */
.modal-screen {
    width: 90%;
    max-width: 500px;
    background: #E9F4FF;
    border-radius: 20px;
    padding: 25px;
    margin: 0 auto;
    height: 90vh; 
    display: flex;
    flex-direction: column;
}

/* Image */
.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
     height: 300px;
}

.image-container img {
    width: 100%;
    max-width: 500px;
    height: 100%; 
    object-fit: contain;
    flex-grow: 2;
}

/* Tabs */
.tab {
    display: flex;
    margin-top: 5px;
    border-bottom: 2px solid #ffffff;
}

.tab button {
    padding: 12px;
    border: none;
    background: none;
    font-size: 18px;
    font-family: merriweather;
}

/* Active tab */
.tab button.active {
    background: #ffffff;
}

/* Content */
.tab-body {
    margin-top: 20px;
    overflow-y: auto;
    flex-grow: 1;
}

.tabcontent {
    font-size: 14px;
    color: black;
    line-height: 1.6;
    font-family: merriweather;
}

.fruit-content {
    display: none;
}


/* About Page */

.about {
    font-family: merriweather;
    margin: 5% 5%;
    padding: 2% 5%;
    font-size: 18pt;
    line-height: 26pt;
    text-align: justify;
    background-color: #ffffff86;
    border-radius: 10px;
}

/* Recipe Page */

.card {
    break-inside: avoid;
    margin-bottom: 20px;
    background: #E9F4FF;
    border-radius: 5px;
    overflow: hidden;
}

.card img {
    width: 100%;
    display: block;
    border-radius: 5px 5px 0 0;
    height: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 balck(0,0,0,0.2);
}

.container {
    padding: 2px 2px;
    justify-content: center; 
    text-align: center;
}

.container h4 {
    font-size: 150%; 
    margin: 10px 0;
}

.secrecipe {
    padding: 10px;
    margin: 20px;
    column-count: 3;
    column-gap: 20px;
}

/* Sources Page */

.sources {
    font-family: merriweather;
    margin: 5% 5%;
    padding: 2% 5%;
    font-size: 18pt;
    line-height: 26pt;
    text-align: justify;
    background-color: #ffffff86;
    border-radius: 10px;
}

